In [1]:
import pandas as pd

# Languages

In [2]:
langs = pd.read_csv("data/MUSIC4ALL/raw/id_lang.csv", sep='\t')
langs.head()

                 id lang
0  0009fFIM1eYThaPg   en
1  0010xmHR6UICBOYT   en
2  002Jyd0vN4HyCpqL   en
3  006TYKNjNxWjfKjy   en
4  007LIJOPQ4Sb98qV   en

In [3]:
langs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109269 entries, 0 to 109268
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      109269 non-null  object
 1   lang    109269 non-null  object
dtypes: object(2)
memory usage: 1.7+ MB

In [5]:
langs.describe()

                      id    lang
count             109269  109269
unique            109269      46
top     0009fFIM1eYThaPg      en
freq                   1   84103

In [6]:
print(sorted(langs.lang.unique().tolist()))

['INTRUMENTAL', 'af', 'ar', 'bg', 'bn', 'ca', 'cs', 'cy', 'da', 'de', 'el', 'en', 'es', 'et', 'fa', 'fi', 'fr', 'he', 'hi', 'hr', 'hu', 'id', 'it', 'ja', 'ko', 'lt', 'lv', 'nl', 'no', 'pa', 'pl', 'pt', 'ro', 'ru', 'sk', 'sl', 'so', 'sq', 'sv', 'sw', 'th', 'tl', 'tr', 'uk', 'vi', 'zh-cn']

In [7]:
langs.lang.value_counts()

en             84103
INTRUMENTAL     9417
pt              7020
es              3225
ko              1145
fr               994
ja               615
de               577
pl               446
it               437
sv               231
ru               187
id               140
tr               125
fi               105
no                99
nl                59
tl                42
hr                41
hu                27
sw                21
uk                20
ro                18
ca                18
el                18
da                17
ar                17
so                16
et                16
vi                13
af                 8
sl                 7
cy                 7
lt                 7
fa                 6
sq                 5
th                 4
zh-cn              4
pa                 2
lv                 2
bn                 2
cs                 2
bg                 1
hi                 1
sk                 1
he                 1
Name: lang, dtype: int64