In [1]:
import pandas as pd

# Metadata

In [2]:
metadata = pd.read_csv("data/MUSIC4ALL/raw/id_metadata.csv", sep='\t')
metadata.head()

,id,spotify_id,popularity,release,danceability,energy,key,mode,valence,tempo,duration_ms
0,0009fFIM1eYThaPg,3eObKIfHKJ1nAPh0wTxFCc,12.0,2009,0.635,0.746,6.0,1.0,0.548,110.973,229947
1,0010xmHR6UICBOYT,27szvF97Tu95GxN98N52fy,46.0,2013,0.591,0.513,7.0,0.0,0.263,172.208,325096
2,002Jyd0vN4HyCpqL,273lBFpxUCwisTpdnF9cVb,31.0,1974,0.319,0.925,2.0,1.0,0.658,157.630,285693
3,006TYKNjNxWjfKjy,1qZgergQ41vaD4zBf3AKXR,33.0,2017,0.432,0.979,7.0,1.0,0.162,90.008,332867
4,007LIJOPQ4Sb98qV,6rVxJ3sN3Cz40MSLavbG1K,19.0,2009,0.357,0.708,9.0,1.0,0.470,123.904,326067

In [5]:
# Looking for duplicated ids
metadata[metadata.duplicated('spotify_id')].head()

,id,spotify_id,popularity,release,danceability,energy,key,mode,valence,tempo,duration_ms
796,0ReeZphQFuHZJtvW,39H1xVrwxDjeIzq4WMYIod,37.0,1973,0.426,0.798,11.0,0.0,0.767,93.655,268646
1508,0q1KVg7Jx9fwtVMQ,29MGrIFAclPrzstq0rNciL,39.0,2006,0.498,0.761,7.0,1.0,0.535,129.947,216427
2317,1H7yQe1NljCbMapi,5Okf7KBikV8we3uqCMFjiL,56.0,1974,0.298,0.799,2.0,0.0,0.561,143.072,252453
2926,1buWjK0K9er6bVDW,7yAslROTLRHGwuiLBpdErT,58.0,1979,0.771,0.672,5.0,1.0,0.867,99.610,274560
3834,27uS0rY2Zc2MSMJJ,0iHZnbbFHDO9MzHWlJI0Hb,36.0,2004,0.516,0.961,5.0,0.0,0.458,150.147,195107

In [10]:
# Duplicated songs needs futher inspection
metadata[metadata.spotify_id=='0iHZnbbFHDO9MzHWlJI0Hb']

,id,spotify_id,popularity,release,danceability,energy,key,mode,valence,tempo,duration_ms
1333,0jreabaNX3S37qJc,0iHZnbbFHDO9MzHWlJI0Hb,36.0,2004,0.516,0.961,5.0,0.0,0.458,150.147,195107
3834,27uS0rY2Zc2MSMJJ,0iHZnbbFHDO9MzHWlJI0Hb,36.0,2004,0.516,0.961,5.0,0.0,0.458,150.147,195107

In [9]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109269 entries, 0 to 109268
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            109269 non-null  object
 1   spotify_id    109269 non-null  object
 2   popularity    109269 non-null  float64
 3   release       109269 non-null  int64
 4   danceability  109269 non-null  float64
 5   energy        109269 non-null  float64
 6   key           109269 non-null  float64
 7   mode          109269 non-null  float64
 8   valence       109269 non-null  float64
 9   tempo         109269 non-null  float64
 10  duration_ms   109269 non-null  int64
dtypes: float64(7), int64(2), object(2)
memory usage: 9.2+ MB

In [10]:
metadata.describe()

,popularity,release,danceability,energy,key,mode,valence,tempo,duration_ms
count,109269.000000,109269.000000,109269.000000,109269.000000,109269.000000,109269.000000,109269.000000,109269.000000,1.092690e+05
mean,35.080608,2005.813488,0.520449,0.667162,5.284079,0.624669,0.445504,122.753032,2.425046e+05
std,14.756258,14.335056,0.173008,0.241372,3.560797,0.484210,0.252159,28.997936,1.003360e+05
min,0.000000,1013.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.229000e+03
25%,25.000000,2001.000000,0.403000,0.502000,2.000000,0.000000,0.236000,100.194000,1.934810e+05
50%,34.000000,2011.000000,0.528000,0.712000,5.000000,1.000000,0.424000,121.079000,2.275330e+05
75%,45.000000,2016.000000,0.645000,0.872000,9.000000,1.000000,0.639000,140.047000,2.715330e+05
max,95.000000,2019.000000,0.988000,1.000000,11.000000,1.000000,0.998000,242.903000,4.995315e+06