In [15]:
import pandas as pd
from tqdm import tqdm

import glob
from os.path import basename

In [16]:
lyrics = pd.DataFrame(columns=['id', 'lyrics'])

In [17]:
for txt_path in tqdm(glob.glob("data/MUSIC4ALL/lyrics/*.txt")):
    with open(txt_path, 'r') as f:
        content = f.read()
        id_nb = basename(txt_path).split('.')[0]
        lyrics.loc[len(lyrics)] = [id_nb, content]

100%|██████████| 109269/109269 [13:04<00:00, 139.24it/s]

In [18]:
lyrics.head()

                 id                                             lyrics
0  VWpSLG9I1Zp0NifI  Tonight feels like we can do anything we like,...
1  pY1EjdIGhkZwlxje  Medicated to the point of apathy\nEach day ano...
2  8EGkyPDVZgJPOS5J                                       INSTRUMENTAL
3  rHJ2S6bULIjzHN1O  If you wake up and don't want to smile\nIf it ...
4  XQpW1rpTeT3bQWSd  If I was beautiful\nIf I had the time\nThey'd ...

In [19]:
lyrics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109269 entries, 0 to 109268
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      109269 non-null  object
 1   lyrics  109269 non-null  object
dtypes: object(2)
memory usage: 2.5+ MB

In [20]:
lyrics.to_csv("data/MUSIC4ALL/processed/id_lyrics.csv", index=True)