In [1]:
import pandas as pd

# Information

In [2]:
information = pd.read_csv("data/MUSIC4ALL/raw/id_information.csv", sep='\t')
information.head()

,id,artist,song,album_name
0,0009fFIM1eYThaPg,Cheryl,Rain on Me,3 Words
1,0010xmHR6UICBOYT,Oddisee,After Thoughts,The Beauty in All
2,002Jyd0vN4HyCpqL,Blue Öyster Cult,ME 262,Secret Treaties
3,006TYKNjNxWjfKjy,Rhapsody,Flames of Revenge,Legendary Years (Re-Recorded)
4,007LIJOPQ4Sb98qV,The Chameleons,Nostalgia,What Does Anything Mean? Basically (2009 Remas...

In [4]:
information.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109269 entries, 0 to 109268
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          109269 non-null  object
 1   artist      109269 non-null  object
 2   song        109269 non-null  object
 3   album_name  109269 non-null  object
dtypes: object(4)
memory usage: 3.3+ MB

In [5]:
information.describe()

                      id  artist    song     album_name
count             109269  109269  109269         109269
unique            109269   16269   87915          38363
top     lNiT6B0PMFxWiT0X   Queen   Intro  Greatest Hits
freq                   1     264      65            175

In [6]:
information.artist.value_counts()

Queen               264
David Bowie         226
The Beatles         213
Madonna             200
Kylie Minogue       171
                   ...
Royal Tailor          1
Fiorella Mannoia      1
Newsboys              1
Marco Mares           1
Chris Walla           1
Name: artist, Length: 16269, dtype: int64

In [7]:
information.album_name.value_counts()

Greatest Hits                                            175
UNDERTALE Soundtrack                                      53
The Elder Scrolls V: Skyrim: Original Game Soundtrack     44
Forever                                                   40
II                                                        40
                                                        ...
Año Santo                                                  1
Rice & Curry                                               1
Rufus Featuring Chaka Khan                                 1
The Best Of Michael Martin Murphey                         1
Linha De Passe                                             1
Name: album_name, Length: 38363, dtype: int64